@using System.Globalization;

<div class="graph-room-wrapper">

    @* <!-- Empty State -->
    <div class="graph-room-wrapper">
        <div class="position-relative mx-auto" >
            <canvas id="roomChart"></canvas>
        </div>
    </div> *@


    <!-- Chart -->
    <div class="graph-room-wrapper">
        <div class="position-relative mx-auto">
            <canvas id="roomChart" height="204"></canvas>
        </div>
    </div>

</div>